<br/>

    <table>
            
 <tr>itemId: {{item.itemId}}</tr>
<tr>itemName: {{item.itemName}}</tr>
<tr>itemDescription: {{item.description}}</tr>
<tr>StockNumber: {{item.stockNumber}}</tr>
<tr>Remarks:  {{item.remarks}}</tr>
<!--<tr>StockNumber:   {{item.stockNumber}}</tr>
<tr>ItemName:        {{item.itemName}}</tr>
<tr>Remarks:      {{item.remarks}}</tr>
<tr>itemDescription: {{item.itemDescription}}</tr>
<tr>Model:           {{item.model}}</tr>
<tr>Quantity:        {{item.quantity}}</tr>
<tr>Price:           {{item.itemCost}}</tr>
<tr>Sellerid:        {{item.sellerid}}</tr>-->
</table>

<br/>
<button type="=button" class="btn btn-success" (click)="onSave(item.itemId)">AddCart</button>
